* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

p {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

body {
  background-color: #000;
}

header .nav-item {
  font-size: 15px;
  color: #fff;
  transition: .2s;
}

header .nav-item:hover {
  opacity: .6;
}